$tan: #f0dfb4;
$reddish: #600;
$dark-gray: #333;
$white: #fff;

$break-one: 46.25rem;

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// Blue theme
$blue-one: #7B8AAE;
$blue-two: #516491;
$blue-three: #182C59;
$blue-four: #07173C;